/*******************************************
MASTER SCSS
Author: Luis Booth - lbooth@sanservices.hn
********************************************/

	// React Components

	@import './components/NavBar';

	body {
		margin: 0;
	}
	
	a {
		text-decoration: none;
	}