/*******************************************
REACT COMPONENT: HEADER PERFORMER
JS: /js/components/Header.js
********************************************/
.hdr-performer {

	h2 {
		font: 36px $font-futura;

		small {
			font: 18px $font-futura;
		}
	}

}