/*******************************************
BASE SCSS
	In here goes all general styles
********************************************/

	html {
		font-size: 10px;
	}
	
	body {
		margin: 0;
	}
	
	a {
		text-decoration: none;
	}

	.container {
		margin: 0 50px;
	}