/*******************************************
SCSS UTILITIES
********************************************/

.show { display: block; }

.hide { display: none; }

.txt-center { text-align: center; }

.txt-right { text-align: right; }

.pa { position: absolute; }

.pr { position: relative; }

.ib { display: inline-block; }